
@import url('https://fonts.googleapis.com/css?family=Spicy+Rice&display=swap');

html {
  font-size: 16px;
}

body {
  font-family: "Raleway", sans-serif;
  color: #222;
  line-height: 1.5;
}

#wrapper {
  margin: 0 auto;
  width: 60em;
}

h1, h2 {
  font-family: 'Open-Sans', sans-serif;
  font-weight: 900
}

h2 {
  margin-top: 0;
}

nav {
  border-bottom: 1px solid #ccc;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}

nav ul {
  padding-left: 0;
	list-style: none;
	margin: 0;
}

nav li {
  display: inline;
	margin-right: 2rem;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 1.5rem;
}

article {
  margin-bottom: 1.5rem;
}

footer {
  margin-top: 1.5rem;
  border-top: 1px solid #ccc;
}

footer p {
  color: #ccc;
}

#content {
  padding-right: 1.5rem;
  border-right: 1px solid #ccc;
}

#sidebar {
  font-size: 0.75rem;
}
